:root {
  --regular-font-size: 1.7rem;
  --small-font-size: 1.3rem;
  --small-regular-font-size: 1.5rem; }

@keyframes popup-anim {
  100% {
    transform: translate(-50%, 0%);
    opacity: 1; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif; }

html {
  font-size: 62.5%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FAFAFA; }

button {
  border: none;
  background: none; }

span, a {
  display: inline-block; }

.hidden {
  display: none !important; }

.visible {
  animation: visible-anim .3s ease forwards; }

@keyframes visible-anim {
  0% {
    display: none;
    opacity: 0;
    visibility: hidden; }
  1% {
    display: inline-block;
    opacity: 0;
    visibility: hidden; }
  100% {
    display: inline-block;
    opacity: 1;
    visibility: visible; } }

.not-allowed {
  cursor: not-allowed; }

section {
  transition: .2s ease all;
  min-height: 50rem; }

section, nav {
  margin: 0 auto;
  width: 70rem; }
  @media (max-width: 760px) {
    section, nav {
      width: 100%;
      margin: auto; } }

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100; }
  .overlay .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 5%;
    padding: 1rem;
    background: #ffffff;
    border-radius: .5rem;
    transform: translate(-50%, -5%);
    opacity: 0;
    animation: popup-anim .3s ease forwards; }

.edit-permission-popup p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #171738;
  margin-bottom: 1.5rem; }

.edit-permission-popup-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .edit-permission-popup-actions .buttons-delimitator {
    width: 1px;
    height: 1.5rem;
    background: #cdcdcd; }
  .edit-permission-popup-actions button {
    color: #4d4dc1;
    font-weight: 600;
    font-size: var(--regular-font-size);
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: .5rem; }
    .edit-permission-popup-actions button:hover {
      background: rgba(77, 77, 193, 0.05); }
    .edit-permission-popup-actions button:first-of-type {
      margin-right: 1rem; }

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7rem; }
  @media (max-width: 760px) {
    .nav {
      padding: 0 2rem; } }

.nav-logo {
  width: 8.2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  overflow: hidden; }
  .nav-logo-text {
    position: relative;
    bottom: 10rem;
    color: #171738;
    font-weight: 700;
    font-size: 2.3rem;
    animation: nav-logo-text-anim .5s .5s forwards; }
  .nav-logo-line {
    width: inherit;
    position: absolute;
    left: 0;
    bottom: 0; }
    .nav-logo-line path {
      stroke-dasharray: 58;
      stroke-dashoffset: 58;
      animation: nav-logo-line-anim 1s forwards; }
  .nav-logo-pen {
    position: absolute;
    bottom: 1px;
    width: 1.6rem;
    animation: nav-logo-pen-anim 1s forwards;
    left: 0; }

@keyframes nav-logo-text-anim {
  0% {
    bottom: -10rem; }
  100% {
    bottom: 0; } }

@keyframes nav-logo-line-anim {
  100% {
    stroke-dashoffset: 0; } }

@keyframes nav-logo-pen-anim {
  100% {
    transform: translateX(6.6rem); } }

.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  width: 100%;
  padding-top: 3rem;
  position: sticky;
  outline: 2px solid #FAFAFA;
  top: 0;
  z-index: 1;
  background: #FAFAFA; }
  @media (max-width: 760px) {
    .search-wrapper {
      padding: 2rem 2rem 0 2rem; } }
  .search-wrapper .close-search {
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    padding: .5rem; }
    .search-wrapper .close-search::after {
      content: "close";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: #f1f1f1;
      color: #171738;
      font-size: 1.5rem;
      font-weight: 600;
      min-width: 5rem;
      min-height: 3rem;
      white-space: nowrap;
      bottom: calc( (3rem + 1rem) * -1);
      border-radius: .5rem;
      padding: .4rem;
      opacity: 0;
      visibility: hidden; }
      @media (max-width: 490px) {
        .search-wrapper .close-search::after {
          display: none; } }
    .search-wrapper .close-search:hover::after {
      opacity: 1;
      visibility: visible; }
    .search-wrapper .close-search:hover {
      background: #f1f1f1; }
    .search-wrapper .close-search svg {
      width: 2.1rem;
      height: 2.1rem; }

.search {
  width: 100%;
  position: relative;
  border-radius: 10rem;
  height: 5rem; }
  .search-icon {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: 2rem;
    top: 50%;
    transform: translate(-50%, -50%); }
    .search-icon path {
      fill: #A5A5A5; }
  .search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #ffffff;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10rem;
    padding: 0 2rem 0 4rem;
    font-size: var(--regular-font-size);
    color: #171738; }
    .search-input:focus {
      outline: 1px solid rgba(0, 0, 0, 0.4);
      box-shadow: none; }
    .search-input::placeholder {
      font-size: 1.5rem;
      color: #A5A5A5;
      font-weight: 400; }

.search-message {
  width: 100%;
  padding: 3rem 0;
  border-bottom: 1px solid #e9e9e9; }
  @media (max-width: 760px) {
    .search-message {
      padding: 2rem; } }
  .search-message p {
    font-size: var(--regular-font-size);
    color: #171738;
    font-weight: 600; }

.no-notes-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5rem 0; }
  .no-notes-message img {
    width: 30rem;
    height: auto; }
    @media (max-width: 500px) {
      .no-notes-message img {
        width: 17rem; } }
  .no-notes-message h2 {
    margin-top: 3rem;
    font-size: 2.4rem;
    color: #bbbbbb; }
    @media (max-width: 760px) {
      .no-notes-message h2 {
        font-size: 2rem; } }
    .no-notes-message h2 span {
      font-weight: 400;
      color: #171738; }

.home-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 8rem;
  background: #FAFAFA;
  outline: 2px solid #FAFAFA;
  justify-content: space-between;
  padding: 3rem 0;
  border-bottom: 1px solid #e9e9e9; }
  @media (max-width: 760px) {
    .home-actions {
      padding: 2rem; } }

.info-when-deleting-note {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .info-when-deleting-note .cancel-note-deleting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-right: 1.5rem;
    border-radius: 50%;
    padding: 1rem;
    margin-left: -1rem; }
    .info-when-deleting-note .cancel-note-deleting:hover, .info-when-deleting-note .cancel-note-deleting:active {
      background: #f1f1f1; }
    @media (max-width: 490px) {
      .info-when-deleting-note .cancel-note-deleting:hover {
        background: none; } }
    .info-when-deleting-note .cancel-note-deleting::after {
      content: "Cancel";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: #f1f1f1;
      color: #171738;
      font-size: 1.5rem;
      font-weight: 600;
      min-width: 5rem;
      min-height: 3rem;
      white-space: nowrap;
      bottom: calc( (3rem + 1rem) * -1);
      border-radius: .5rem;
      padding: .4rem;
      opacity: 0;
      visibility: hidden; }
      @media (max-width: 490px) {
        .info-when-deleting-note .cancel-note-deleting::after {
          display: none; } }
    .info-when-deleting-note .cancel-note-deleting:hover::after {
      opacity: 1;
      visibility: visible; }
    .info-when-deleting-note .cancel-note-deleting svg {
      width: 1.5rem;
      height: 1.5rem; }
      .info-when-deleting-note .cancel-note-deleting svg path {
        fill: #171738; }
  .info-when-deleting-note .notes-selected-number {
    font-size: var(--regular-font-size);
    font-weight: 600;
    color: #171738; }

.info-when-deleting-note-inactive {
  visibility: hidden;
  opacity: 0; }

.home-actions-buttons {
  display: flex;
  flex-direction: row;
  align-items: center; }

.home-action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  cursor: pointer; }
  .home-action-button:hover::after {
    opacity: 1;
    visibility: visible; }
  .home-action-button:first-of-type {
    margin-right: 1.5rem; }
  .home-action-button svg {
    width: 1.7rem;
    height: 1.7rem; }
    .home-action-button svg path {
      fill: #171738; }
  .home-action-button-inactive svg path {
    fill: #A5A5A5; }
  .home-action-button-inactive {
    cursor: not-allowed; }

.home-delete-note::after {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  content: "Delete";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #f1f1f1;
  color: #171738;
  font-size: 1.5rem;
  font-weight: 600;
  min-width: 5rem;
  min-height: 3rem;
  white-space: nowrap;
  bottom: calc( (3rem + 1rem) * -1);
  border-radius: .5rem;
  padding: .4rem;
  opacity: 0;
  visibility: hidden; }
  @media (max-width: 490px) {
    .home-delete-note::after {
      display: none; } }

.home-new-note::after {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  content: "New";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #f1f1f1;
  color: #171738;
  font-size: 1.5rem;
  font-weight: 600;
  min-width: 5rem;
  min-height: 3rem;
  white-space: nowrap;
  bottom: calc( (3rem + 1rem) * -1);
  border-radius: .5rem;
  padding: .4rem;
  opacity: 0;
  visibility: hidden; }
  @media (max-width: 490px) {
    .home-new-note::after {
      display: none; } }

#notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 760px) {
    #notes-container {
      padding: 0 2rem; } }

.note-wrapper {
  width: 100%;
  list-style-type: none;
  transition: .4s ease margin;
  margin-top: 3rem; }
  .note-wrapper:last-of-type {
    margin-bottom: 3rem; }
  .note-wrapper .edit-note {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--small-font-size);
    color: #171738;
    cursor: pointer;
    padding: .5rem;
    border-radius: .5rem;
    margin-left: -.5rem; }
    .note-wrapper .edit-note:hover, .note-wrapper .edit-note:active {
      background: #f1f1f1; }
    @media (max-width: 490px) {
      .note-wrapper .edit-note:hover {
        background: none; } }
    .note-wrapper .edit-note svg {
      margin-right: .5rem;
      width: 1.3rem;
      height: 1.3rem; }
      .note-wrapper .edit-note svg path {
        fill: #171738; }
  .note-wrapper .note {
    display: grid;
    grid-template-columns: minmax(80%, 100%) 1fr;
    align-items: center;
    width: 100%;
    margin-top: 1rem; }
  .note-wrapper .note-and-date {
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 2rem;
    padding: 1rem;
    min-width: 94%; }
    .note-wrapper .note-and-date:active {
      background: #f1f1f1; }
    .note-wrapper .note-and-date .note-content {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: var(--regular-font-size);
      margin-bottom: .7rem; }
    .note-wrapper .note-and-date .note-date {
      font-size: var(--small-font-size);
      color: #A5A5A5; }
  .note-wrapper .new-or-edited-note-anim {
    animation: new-or-edited-note-anim 1.2s forwards; }

@keyframes new-or-edited-note-anim {
  0% {
    background: #e5e5e5; }
  100% {
    background: #ffffff; } }
  .note-wrapper .delete-note {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    border-radius: .5rem;
    margin-left: 2rem; }
    .note-wrapper .delete-note::before {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      background: #5858fb33;
      border-radius: 50%;
      z-index: -1;
      opacity: 0;
      transition: .05s ease;
      transition-property: opacity, width, height; }
    .note-wrapper .delete-note:active::before {
      width: 4.6rem;
      height: 4.6rem;
      opacity: 1; }
    .note-wrapper .delete-note svg {
      width: 1.4rem;
      height: 1.4rem; }
  .note-wrapper .checkmark-path {
    stroke-dasharray: 21;
    stroke-dashoffset: 21; }
  .note-wrapper .delete-note-active {
    background: #5757FB;
    border: none; }
    .note-wrapper .delete-note-active .checkmark-path {
      stroke: #ffffff;
      animation: checkmark-path-anim .4s ease forwards; }
  .note-wrapper .delete-note-inactive {
    border: 1px solid #A5A5A5; }

@keyframes checkmark-path-anim {
  100% {
    stroke-dashoffset: 0; } }

.edit-note-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #FAFAFA;
  outline: 2px solid #FAFAFA;
  width: 100%;
  padding: 2rem 0;
  margin-bottom: 4px; }
  @media (max-width: 760px) {
    .edit-note-navigation {
      outline: none;
      margin-bottom: 0;
      padding: 2rem;
      border-bottom: 1px solid #e9e9e9; } }
  .edit-note-navigation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem; }

.edit-note-navigation-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--small-regular-font-size);
  color: #171738;
  font-weight: 600;
  padding: .5rem;
  cursor: pointer; }

.edit-note-finish-edit {
  border-radius: .5rem;
  background: #5757FB;
  color: #ffffff; }
  .edit-note-finish-edit svg {
    width: 1.4rem;
    margin-left: .5rem; }
    .edit-note-finish-edit svg path {
      stroke: #ffffff; }

.edit-note-close-button {
  position: relative;
  border-radius: 50%;
  margin-left: -.5rem; }
  .edit-note-close-button::after {
    content: "Go back";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #f1f1f1;
    color: #171738;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 5rem;
    min-height: 3rem;
    white-space: nowrap;
    bottom: calc( (3rem + 1rem) * -1);
    border-radius: .5rem;
    padding: .4rem;
    opacity: 0;
    visibility: hidden; }
    @media (max-width: 490px) {
      .edit-note-close-button::after {
        display: none; } }
  .edit-note-close-button:hover, .edit-note-close-button:active {
    background: #f1f1f1; }
  @media (max-width: 490px) {
    .edit-note-close-button:hover {
      background: none; } }
  .edit-note-close-button:hover::after {
    opacity: 1;
    visibility: visible; }
  .edit-note-close-button svg {
    width: 2.3rem; }
    .edit-note-close-button svg path {
      fill: #171738; }

.edit-note-date {
  font-size: var(--small-font-size);
  color: #A5A5A5; }

.edit-note-content {
  width: 100%;
  min-height: 80rem;
  margin-bottom: 3rem;
  overflow-wrap: break-word;
  font-size: var(--regular-font-size);
  color: #171738;
  background: #ffffff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  line-height: 2.4rem;
  border-radius: 2rem;
  padding: 2rem; }
  @media (max-width: 760px) {
    .edit-note-content {
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 0; } }
  .edit-note-content:focus {
    border: none;
    outline: none; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  border-top: 1px solid #e9e9e9;
  background: #FAFAFA;
  width: 100%; }
  footer .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
    width: 70rem; }
    footer .wrapper p a {
      color: #171738; }
    @media (max-width: 760px) {
      footer .wrapper {
        width: 100%;
        padding: 1.5rem 2rem; } }
  footer p {
    font-size: var(--regular-font-size);
    color: #171738; }

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .social-icons a {
    padding: .3rem .7rem;
    border: 1px solid #ebebeb; }
  .social-icons a:not(:first-of-type) {
    border-left: 0; }
  .social-icons a:hover {
    background: #ebebeb; }
  .social-icons a:hover path {
    fill: #171738; }
  .social-icons .social-icon {
    width: 1.7rem;
    cursor: pointer; }
    .social-icons .social-icon path {
      fill: #A5A5A5; }

.some-text {
  font-size: 4rem;
  margin-left: 4rem; }

@media (max-width: 500px) {
  html {
    font-size: 59%; } }
@media (min-width: 2000px) {
  html {
    font-size: 100%;
  }
}
